.fondo.jpg{
    width: 100%;
    height: 1000px;
    background-color: rgb(204, 50, 135);
    display: flex;
    flex-direction: column;
    text-align: center;
    
    








width: 100%;
height: 1000px;
background-color: rgb(204, 50, 135);
display: flex;
flex-direction: column;
text-align: center;


}

.encanbezado{

width: 100%;
height: 150px;
background-color: rgb(174, 0, 255);
font-size: 100px;
font-family: cursive;





}



.titulo1{

    width: 100%;
    height: 150px;
    background-color: rgb(15, 187, 87);
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;








}

.titulo2{

    width: 100%;
    height: 150px;
    background-color: rgb(15, 187, 87);
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;







}

.texto1{


    width: 100%;
    height: 420px;
    background-color: rgb(15, 187, 87);
    font-size: 50px;
    font-family: fantasy;




}

.titulo3{

    width: 100%;
    height: 250px;
    background-color: rgb(15, 187, 87);
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;





}

.texto2{

   

    width: 100%;
    height: 425px;
    background-color: rgb(15, 187, 87);
    font-size: 50px;
    font-family: fantasy;





}


.titulo4{

    width: 100%;
    height: 250px;
    background-color: rgb(15, 187, 87);
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;




}

.texto3{

    width: 100%;
    height: 1000px;
    background-color: rgb(204, 50, 135);
    display: flex;
    flex-direction: column;
    text-align: center;
    
    






}
.fondo.fondo.jpg{

    width: 100%;
    height: 1000px;
    background-color: rgb(50, 122, 204);
    display: flex;
    flex-direction: column;
    text-align: center;





}








